<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang chủ (My JDBC)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/assets_nguoidung/css/animate.css">

    <link rel="stylesheet" href="~/assets_nguoidung/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets_nguoidung/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets_nguoidung/css/magnific-popup.css">

    <link rel="stylesheet" href="~/assets_nguoidung/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/assets_nguoidung/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/assets_nguoidung/css/flaticon.css">
    <link rel="stylesheet" href="~/assets_nguoidung/css/style.css">
    
</head>

<body>
    
    @await Html.PartialAsync("Header.cshtml")

    @RenderBody()

    @await Html.PartialAsync("Footer.cshtml")
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/assets_nguoidung/js/jquery.min.js"></script>
    <script src="~/assets_nguoidung/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/assets_nguoidung/js/popper.min.js"></script>
    <script src="~/assets_nguoidung/js/bootstrap.min.js"></script>
    <script src="~/assets_nguoidung/js/jquery.easing.1.3.js"></script>
    <script src="~/assets_nguoidung/js/jquery.waypoints.min.js"></script>
    <script src="~/assets_nguoidung/js/jquery.stellar.min.js"></script>
    <script src="~/assets_nguoidung/js/owl.carousel.min.js"></script>
    <script src="~/assets_nguoidung/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets_nguoidung/js/jquery.animateNumber.min.js"></script>
    <script src="~/assets_nguoidung/js/bootstrap-datepicker.js"></script>
    <script src="~/assets_nguoidung/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/assets_nguoidung/js/google-map.js"></script>
    <script src="~/assets_nguoidung/js/main.js"></script>
    @await Component.InvokeAsync("Notyf")

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>