<footer class="ftco-footer bg-bottom ftco-no-pt" style="background-image: url(../assets_nguoidung/images/bg_3.jpg); ">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md pt-5">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2">Về chúng tôi</h2>
                    <p>Xa xa, đằng sau những ngọn núi, xa các quốc gia Vokalia và Consonantia, có những văn bản mù quáng.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                        <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md pt-5 border-left">
                <div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Thông tin</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Yêu cầu chung</a></li>
                        <li><a href="#" class="py-2 d-block">Điều kiện đăng ký</a></li>
                        <li><a href="#" class="py-2 d-block">Chính sách và quyền riêng tư</a></li>
                        <li><a href="#" class="py-2 d-block">Điều kiện hoàn tiền</a></li>
                        <li><a href="#" class="py-2 d-block">An ninh</a></li>
                        <li><a href="#" class="py-2 d-block">Gọi chúng tôi</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md pt-5 border-left">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2">Kinh nghiệm</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Trải nghiệm</a></li>
                        <li><a href="#" class="py-2 d-block">Khách sạn,nhà hàng</a></li>
                        <li><a href="#" class="py-2 d-block">Biển</a></li>
                        <li><a href="#" class="py-2 d-block">Thiên nhiên</a></li>
                        <li><a href="#" class="py-2 d-block">Cấm trại</a></li>
                        <li><a href="#" class="py-2 d-block">Tiệc ăn mừng</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md pt-5 border-left">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2">Bạn có câu hỏi nào không?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map-marker"></span><span class="text">73,Tran Quy Khoang,Long Xuyen,An Giang,Viet Nam</span></li>
                            <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                            <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">tankhoi@yourdomain.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>



<!-- loader -->