@model Website_DatPhong_TrucTuyen.Models.TabDiemdenThamquan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <style>
        .A1 {
            object-fit: cover;
            border-radius: 10px;
        }
    </style>
</head>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 style="padding-bottom:10px" class="card-title"> Chi tiết địa điểm tham quan</h4>
            <div class="page-header">
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="mdi mdi-home"></i>Trang chủ</a>
                        <a asp-area="Admin" asp-controller="Admin_TabDiemdenThamquans" asp-action="Index" class="breadcrumb-item"> Danh sách điểm thma quan</a>
                        <span class="breadcrumb-item active">Điểm tham quan:<span class=" text-danger">@Model.Tendiadiemthamquan </span>  </span>
                    </nav>
                </div>
            </div>
            <h4 style="padding-bottom:1px" class="card-title"> Chi tiết điểm tham quan</h4>


            <div style="padding-bottom:10px" class="table-responsive">
                <table class="table table-dark">

                    <tbody>
                        <tr>
                            <td><img class="A1" style="width:100px;height:100px" src="~/Image2/@Html.DisplayFor(Model=> Model.Hinhanh)" /> </td>

                        </tr>
                        <tr>

                            <td class="text-warning" style="color:whitesmoke;font-size:17px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:800"> Chủ nhà:@Model.IdNguoidungNavigation.Tennguoidung </td>

                        </tr>
                        <tr>

                            <td class="text-danger" style="color:whitesmoke;font-size:17px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:800"> Điểm đến:@Model.IdDiemdenNavigation.Tendiadiem </td>

                            <
                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500">Địa chỉ:@Model.Diachicuthe </td>

                        </tr>
                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500">Số lượng người ở:@Model.Slngayo </td>

                        </tr>
                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500">Tên địa điểm tham quan:@Model.Tendiadiemthamquan</td>

                        </tr>
                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500">Tiện ích:@Model.Tienich </td>

                        </tr>
                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500">Giá tiền:@Model.Giatien </td>

                        </tr>

                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500"> Ngày đặt phòng:@Model.Ngaydatphong</td>

                        </tr>
                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500"> Ngày trả phòng:@Model.Ngaytraphong </td>

                        </tr>
                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500"> Ngày đăng:@Model.Ngaydang </td>

                        </tr>
                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500"> Ngày cập nhật:@Model.Ngaycapnhat </td>

                        </tr>
                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500"> Nội dung:@Model.Hinhphu4 </td>

                        </tr>
                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500"> Tiện ích chính:@Model.Tienich </td>

                        </tr>
                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500"> Tiện ích 1:@Model.Tienich1 </td>

                        </tr>
                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500"> Tiện ích 2:@Model.Tienich2 </td>

                        </tr>
                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500"> Tiện ích 3:@Model.Tienich3 </td>

                        </tr>
                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500"> Tiện ích 4:@Model.Tienich4 </td>

                        </tr>
                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500"> Nội quy 1:@Model.Noiquy1 </td>

                        </tr>
                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500"> Nội quy 2:@Model.Noiquy2 </td>

                        </tr>
                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500"> Nội quy 3:@Model.Noiquy3 </td>

                        </tr>
                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500"> Nội quy 4:@Model.Noiquy4 </td>

                        </tr>
                        <tr>
                            <td style="color:whitesmoke;font-size:14px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500"> Nội quy 5:@Model.Noiquy5 </td>

                        </tr>




                    </tbody>
                </table>

            </div>
            <div>
                <a class="btn btn-success btn-rounded btn-fw" asp-action="Edit" asp-route-id="@Model.IdDiemdenThamquan">Chỉnh sửa</a> |
                <a class="btn btn-primary btn-rounded btn-fw" asp-action="Index"> Quay lại</a>
            </div>
        </div>
    </div>
</div>

