
@{
    ViewData["Title"] = "Show";
    Layout = "~/Views/Shared/Layout_Manager.cshtml";
}

<br />
<br />
<br />
<div class="col-12 grid-margin stretch-card">
    <div>
        <h4 style="text-align:center;font-weight:600;font-size:40px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color:orangered" class="text-primary">Thêm bài viết thành công!.</h4>


    </div>
</div>



