
@model Website_DatPhong_TrucTuyen.ModelViews.ChangePasswordViewModel
    <!-- Default form login -->
<form class="text-center border border-light p-5" asp-controller="Accounts" asp-action="ChangePassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <p class="h4 mb-4">Đổi mật khẩu</p>

    <!-- Email -->
    <input asp-for="PasswordNow" type="password" class="form-control mb-4" placeholder="Mật khẩu hiện tại">

    <!-- Password -->
    <input type="password" asp-for="Password" class="form-control mb-4" placeholder="Mật khẩu mới">
    <input type="password" asp-for="ConfirmPassword" class="form-control mb-4" placeholder="Nhập lại mật khẩu mới">


    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Lưu thay đổi</button>
</form>
<!-- Default form login -->