@model Website_DatPhong_TrucTuyen.ModelViews.LoginViewModel

@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/Layout_IO.cshtml";

}
<br />
<br />
<br />
<head>
    <link href="~/Login/StyleSheet.css" rel="stylesheet" />
</head>
<div class="container">
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="POST" asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <p class="lead fw-normal mb-0 me-3">Đăng nhập với</p>
                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </button>

                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                            </button>

                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-linkedin-in"></i>
                            </button>
                        </div>

                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0">Hoặc</p>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input  asp-for="UserName" type="text" class="form-control form-control-lg"
                                   placeholder="Nhập Email" />
                            <label class="form-label" for="form3Example3">Địa chỉ Email</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input  asp-for="Password" type="password" class="form-control form-control-lg"
                                   placeholder="Nhập mật khẩu" />
                            <label class="form-label" for="form3Example4">Mật khẩu</label>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                <label class="form-check-label" for="form2Example3">
                                   Nhớ mật khẩu
                                </label>
                            </div>
                            <a href="#!" class="text-body">Quên mật khẩu?</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                             Đăng nhập
                            </button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">
                              Bạn chưa có mật khẩu? <a href="#!"
                                                          class="link-danger">Tạo mật khẩu</a>
                            </p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
            <!-- Copyright -->
            <div class="text-white mb-3 mb-md-0">
            Tankhoi © 2020 Phiên bản thuần việt.
            </div>
            <!-- Copyright -->
            <!-- Right -->
            <div>
                <a href="#!" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#!" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#!" class="text-white me-4">
                    <i class="fab fa-google"></i>
                </a>
                <a href="#!" class="text-white">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
            <!-- Right -->
        </div>
    </section>
</div>













@*<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <script src="~/Dangky_Dangnhap/vendor/jquery/jquery.min.js"></script>
    <script src="~/Dangky_Dangnhap/js/main.js"></script>
    <link href="~/Dangky_Dangnhap/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />

    <link href="~/Dangky_Dangnhap/css/style.css" rel="stylesheet" />

</head>




<section class="ftco-section services-section-sm">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="~/Dangky_Dangnhap/images/signin-image.jpg" alt="sing up image"></figure>
                <a href="#" class="signup-image-link">Tạo tài khoản mới</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Đăng nhập</h2>
                <form method="POST" asp-action="Login" class="register-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input asp-for="UserName" type="text" placeholder="Gmail" />
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        <input asp-for="Password" type="password" placeholder="Mật khẩu" />
                    </div>

                    <div class="form-group form-button">
                        <input type="submit" class="form-submit" />
                    </div>
                </form>
                <div class="social-login">
                    <span class="social-label">Đăng nhập bằng cách khác</span>
                    <ul class="socials">
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>*@


