@model Website_DatPhong_TrucTuyen.Models.TabDiadiem

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>TabDiadiem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdDiadiem" class="control-label"></label>
                <input asp-for="IdDiadiem" class="form-control" />
                <span asp-validation-for="IdDiadiem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNguoidung" class="control-label"></label>
                <select asp-for="IdNguoidung" class ="form-control" asp-items="ViewBag.IdNguoidung"></select>
            </div>
            <div class="form-group">
                <label asp-for="Tendiadiem" class="control-label"></label>
                <input asp-for="Tendiadiem" class="form-control" />
                <span asp-validation-for="Tendiadiem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinhanh" class="control-label"></label>
                <input asp-for="Hinhanh" class="form-control" />
                <span asp-validation-for="Hinhanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlTours" class="control-label"></label>
                <input asp-for="SlTours" class="form-control" />
                <span asp-validation-for="SlTours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaydang" class="control-label"></label>
                <input asp-for="Ngaydang" class="form-control" />
                <span asp-validation-for="Ngaydang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

